@using Microsoft.AspNetCore.Identity
@using CovidCertificate.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Student"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте, ученик @User.Identity.Name!</a>
            </li>
        }
        else if (User.IsInRole("Teacher"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте, учител @User.Identity.Name!</a>
            </li>
        }
        else if (User.IsInRole("SchoolAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте, училищен админ @User.Identity.Name!</a>
            </li>
        }
        else if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте, админ @User.Identity.Name!</a>
            </li>
        }


        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark"asp-controller="Account" asp-action="Logout">Изход</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark"  asp-area="" asp-controller="Schools" asp-action="RegisterSchool">Регистрация на училище</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"  asp-controller="Account" asp-action="Register">Регистрация на потребител</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"  asp-controller="Account" asp-action="Login">Вход</a>
        </li>

    }
</ul>
