@model CovidCertificate.ViewModels.Certificate.DetailsViewModel

@{ ViewData["Title"] = "Check"; }

<h2>Details</h2>

<div>
    <h4>Certificate</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ValidMonths)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Check" asp-route-id="@Model.Id">Check</a>
    <a asp-action="Index">Back to List</a>
</div>
