@model CovidCertificate.ViewModels.Certificate.DetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Редакция</h1>
<hr class="hr-2 bg-dark" />
<form class="mx-auto half-width" method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="DateOfIssue"></label>
        <input asp-for="DateOfIssue" class="form-control" placeholder="DateOfIssue..." value="@Model.DateOfIssue" />
    </div>
   
    <div class="form-group">
        <label asp-for="ValidMonths"></label>
        <input asp-for="ValidMonths" class="form-control" placeholder="ValidMonths..." value="@Model.ValidMonths" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">Връщане към списъка</a>
</div>