@*
   
*@
@{
}
<p>Your certificate is not available!</p>
<p style="position: relative; top: -20px; left: 0px;" ">Please,test yourself!</p>
<p style="position: relative; top: -40px; left: 0px">Take care!</p>
