@model CovidCertificate.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">Register</h1>
<hr class="bg-secondary half-width" />
<form class="mx-auto half-width" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Username..." />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="FirstName..." />
    </div>
    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input asp-for="MiddleName" class="form-control" placeholder="MiddleName..." />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="LastName..." />
    </div>
    <div class="form-group">
        <label asp-for="AdminCode"></label>
        <input asp-for="AdminCode" class="form-control" placeholder="Admin code" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password..." />
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email..." />
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Register</button>
    </div>
</form>