@model CovidCertificate.ViewModels.School.RegisterSchoolViewModel

@{
    ViewData["Title"] = "Register school";
}

<section class="h-100 h-custom" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3" style="background-color:whitesmoke">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration school</h3>
                        <form class="mx-auto half-width" method="post" asp-controller="Schools" asp-action="RegisterSchool">
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control" placeholder="Username..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" placeholder="FirstName..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="MiddleName"></label>
                                <input asp-for="MiddleName" class="form-control" placeholder="MiddleName..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" placeholder="LastName..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" placeholder="Password..." />
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="Email..." />
                            </div>
                            <div class="form-group">
                                <label asp-for="SchoolName" class="control-label"></label>
                                <input asp-for="SchoolName" class="form-control" />
                                <span asp-validation-for="SchoolName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CodeByAdmin" class="control-label"></label>
                                <input asp-for="CodeByAdmin" class="form-control" />
                                <span asp-validation-for="CodeByAdmin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="button-holder d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>